.box{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}

.wrap{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.box1{
    transform: rotate(0deg);
    transition: 2s;
    animation: anim1 10s infinite;
}

.box2{
    transform: scale();
    transition: 0.5s;
    animation: anim2 0.2s infinite;

}



.box3{
    transform: skew(45deg);
    transition: 1s;
    animation: anim3 0.2s infinite;

}












@keyframes anim1 {
     
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}



@keyframes anim2 {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.5);
    }
}



@keyframes anim3 {
    from{
        transform: scale(0deg);
    }

    to{
        transform: skew(120deg);
    }
}